{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Name</th>
          <th scope="col">Shares</th>
          <th scope="col">Price</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        {% for i in range(search_len) %}
        <tr>
          <td>{{search_buy[i]['symbol']}}</td>
          <td>{{search_buy[i]['companyName']}}</td>
          <td>{{search_buy[i]['shares']}}</td>
          <td>${{'%0.2f' %search_buy[i]['price']}}</td>
          <td>${{'%0.2f' %search_buy[i]['total']}}</td>
        </tr>
        {% endfor %}
          <tr>
            <td>CASH</td>
            <td></td>
            <td></td>
            <td></td>
            <td>${{'%0.2f' %search_users[0]['cash']}}</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>${{'%0.2f' %(search_users[0]['cash']+big_total)}}</strong></td>
          </tr>
        </tbody>
    </table>

{% endblock %}